.question__container {
    padding: 20px;
    border: var(--app-border);
}
.question_heading {
    font-weight: 600;
    padding: 10px 0;
}

.question__choice__footer {
    display: flex;
    justify-content: space-between;

    button {
        margin: 5px 0;
    }
}

